<%- include("templates/header") %>

<div class="index-button-container">
    <h1>Welcome to Hiro's Messaging App</h1>
    <p>Create an account or login and start chatting!</p>
    <img src ="/pengu.png" alt="penguin" class="index-image">
    <button class="index-button" onclick="window.location.href='/login'">Login</button>
    <button class="index-button" onclick="window.location.href='/createUser'">Register</button>
</div>
<%- include("templates/footer") %>