<%- include("templates/header") %>
<h1>Welcome to Hiro's Messaging App</h1>
<p>Create an account or login and start chatting!</p>
<button onclick="window.location.href='/login'">Login</button>
<button onclick="window.location.href='/createUser'">Register</button>
<%- include("templates/footer") %>