<%- include("templates/header") %> 

    <div class="login-container">
        <form class="createUser-login-form"action='/loggingin' method='post'>
            <h1>Login</h1>

            <p>Username</p>
            <input class="createUser-login-input" name='username' type='text' placeholder='Enter your username'>
            <p>Password</p>
            <input class="createUser-login-input" name='password' type='password' placeholder='Enter your password'>
            <button>Submit</button>
            </form>
    </div>
    
<%- include("templates/footer") %> 